
[Unit]
Description=Airspy ADS-B receiver
Documentation=https://discussions.flightaware.com/t/howto-airspy-mini-piaware-dump1090-fa-configuration/44343

[Service]
EnvironmentFile=/etc/default/airspy_adsb
ExecStart=/usr/bin/taskset -c $AFFINITY /usr/local/bin/airspy_adsb $OPTIONS $NET $G $GAIN $M $SAMPLE_RATE
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=airspy_adsb
User=root
Group=root
Environment=NODE_ENV=production
Nice=-19
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100


[Install]
WantedBy=multi-user.target

